.slider-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
}

.slides {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.slides.horizontal {
  flex-direction: row;
}

.slides.vertical {
  flex-direction: column;
}

.slide {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.arrow {
  background: none;
  /* border: 2px solid #888; */
  padding: 6px 12px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}

.arrow:hover {
  background: #e0e0e0;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fffefefd;
  cursor: pointer;
}

.dot.active {
  background: #000;
}
